{% extends 'body_base.html.twig' %}


{% block content_body %}
    <a href="" class="btn btn-primary pull-right">
        Create Transaction <span class="fa fa-plus-circle"></span>
    </a>
    <h1>Ledger</h1>
    {% for ledger in ledgers %}
        {% if loop.last %}
            <h5>{{"Current Balance : " ~ ledger | last}}</h5>
        {% endif %}
    {% endfor %}

    <table class="table">
        <thead>
        <tr>
            <th>Account</th>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
            <th>Manage</th>
        </tr>
        </thead>
        <tbody>
        {% for ledger in ledgers %}

            <tr>

                <td>{{ ledger['account_title']}}</td>
                <td>{{ ledger['transaction_description']}}</td>
                <td>{{ ledger['debit']}}</td>
                <td>{{ ledger['credit']}}</td>
                <td>{{ ledger['balance']}}</td>
                    <td>
                        <a href="">
                            <span class="fa fa-pencil"></span>
                        </a>
                        |
                        <a href="">
                            <span class="fa fa-times" style="color: red"></span>
                        </a>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
